@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;

  --theme-background: #fff;
  --theme-color: black;
  --theme-border-color: #ddd;
  --theme-panel: #f8f9fa;
  --theme-panel-secondary: #e9ecef;
  --theme-panel-tertiary: #ddd;
  --theme-success: #f1f8e9;
  --theme-error: #fbe9e7;
  --theme-warning: #fffde7;
  --theme-info: #e3f2fd;

  --main-color: rgb(68, 108, 127);
}

body {
  background-color: var(--theme-background);
  height: 100vh;
  color: var(--theme-text);
  transition: background-color 0.2s;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
